{% extends "lab_8/layout/base.html" %}

{% block content %}
<div class="lab_8_login">
	<div class="loginPage">
		<h1>LOGIN PAGE</h1>
		<H2>Welcome to the lab</H2>
	</div>
	<button class="loginBtn loginBtn--facebook" onclick="facebookLogin()">Login with Facebook</button>
</div>
<div id="lab8">
	
</div>
{% endblock %}