.loginForm{
	border: 1px solid black;
	width: 50%;
	margin: 0 auto;
}
.loginWord{
	font-family: 'Oswald', sans-serif;
	font-size:72px;
}
#username{
	text-align: center;
}
#password{
	text-align: center;
}
/*.background{
	background-image: url(https://wallpaperbrowse.com/media/images/i-should-buy-a-boat.jpg);
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
