body{
   margin-top: 70px;
}
/* Custom navbar style */
.navbar-static-top {
   	margin-bottom: 19px;
	background-color: #333;
	position: fixed; /* Set the navbar to fixed position */
  	top: 0; /* Position the navbar at the top of the page */
  	width: 100%; /* Full width */
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}
