.profile .cover{
	margin-left: 100px;
	margin-right: auto;
	height: 400px;
	width: 500px;
}
.data{
	width: 100%;
	text-align: center;
	color: black;
}
#postInput{
	margin-left: 35%;
}
.gambar{
	align-content: center;
	border-radius: 50%;
	width: 350px;
	height: 350px;
}

/*
.profile .cover{
	margin:-75px 0 0 100px;
}*/