/*.profile .cover{
	margin-left: 100px;
	margin-right: auto;
	height: 400px;
	width: 500px;
}*/
body{
	background-image: url("http://img.imeos.com/blog/smooth/smooth-ice.jpg");
	background-attachment: fixed;
}
.data{
	margin-top: 100px;
	width: 100%;
	text-align: center;
	color: black;
}
#postInput{
	margin-left: 35%;
}
.gambar .picture{
	display: block;
	margin:0 auto;
	margin-top: 10px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	/*position: absolute;*/
}
.gambar_kecil .gambarStatus{
	width: 80px;
	height: 80px;
	border-radius:50%;
	margin-left: 100px;
}
.feed{
	/*font-size: 20px;*/
	font-size:5px;
	color: black;
	margin-left: 180px;
	margin-bottom: 50px;
}
.navbar-static-top{
	background-color: white;
}
.profile .coverDiv {
	width: 60%;
	margin: auto;
	margin-top:30px;

}
.profile .cover{
	height: 300px;
/*	position: absolute;*/
}
.semua_feed{
	border: 1px solid black;
}
/*.tulisan{
	font-size:40px;
}*/
/*
.profile .cover{
	margin:-75px 0 0 100px;
}*/