{% extends "lab_4/layout/base.html" %}
{% block content %}
<style>
   /* *{
        border: 1px solid black;
    }*/
    img{
        position: absolute;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .portofolio{
        margin-left:300px;
        margin-top: 50px;
    }
    #name{
        margin-top: 10px;
        color: black;
    }
    #about_me{
        border: 1px solid black;
    }
    #isi_about_me{
        width: 400px;   
    }
    .quotes_bar{
        margin-left: 500px;
        font-weight: bold;
        position: absolute;
    }
    #quotes{
        margin-top: 100px;
        font-style: italic;
    }
    .isi{
        font-size: 18px;
    }
</style>
<img src="https://3.bp.blogspot.com/-pURFJRC-GeM/WAgoX6ap_OI/AAAAAAABCzY/DHBAmJ1Mk58Au8kV8K8xsfoIfz4QSeTxgCLcB/s1600/14656347_347497038933852_2408991536332391543_n.jpg">
<h1 class="portofolio">Portofolio</h1>
<h2 class="portofolio" id="name">of Yumna Pratista Tastaftian</h2>
<h3 class="portofolio" id="desc">Seorang pelajar yang masih dalam proses mempelajari mana yang maya dan mana yang nyata.</h3>
<hr/>
<div class="isi">
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<div id="about_me"></div>
    <h1 class="quotes_bar">Motto:</h1>
    <h2 class="quotes_bar" id="quotes">"Train insane or remain the same!"</h2>
    <section id="isi_about_me" name="about_me">
        <h2>Pendidikan</h2>
        <ul>
            {% for ii in Pendidikan %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
        <h2>Pencapaian</h2>
        <ul>
            {% for ii in Pencapaian %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
</div>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
</div>
{% endblock %}

