{% extends "base.html" %}
{% block content %}
<style>
    *{
        /*border: 1px solid white;*/
    }
    .center_screen {
        position: absolute;
        width: 700px;
        height: 50px;
        top: 30%;
        left: 50%;
        margin-left: -100px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        color:white;
        font-size: 30px;    
    }
    .gambar_yumna {
        position: absolute;
        width: 100%;
        height: 400px;
        top: 30%;
        color:white;
    }
    body{
        background-image: url('http://androidwallpape.rs/content/02-wallpapers/67-web/web16002.jpg');
    }
    #gambar_muka{
        width: 350px;
        height: 350px;
        margin-top: 30px;
        margin-left: 175px;
        border-radius: 50%;
    }
</style>
<body>
    <div class = "gambar_yumna">
        <img id = "gambar_muka" src = "https://pbs.twimg.com/profile_images/877017134341144576/L1fwZhca.jpg">
        <div class="center_screen">
            <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
        </div>
    </div>
</body>
{% endblock %}