/*.profile .cover{
	margin-left: 100px;
	margin-right: auto;
	height: 400px;
	width: 500px;
}*/
body{
	background-image: url("http://img.imeos.com/blog/smooth/smooth-ice.jpg");
	background-attachment: fixed;
}
.lab_8_login{
/*	border:1px solid black;*/
	width: 40%;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}
.loginPage{
	font-family: 'Oswald', sans-serif;
}
.loginPage h1{
	font-size:80px;
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png) 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  margin-top: 80px;
  width: 100%;
  text-align: center;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

#loginFB{
	margin-top: 50px;
}
.data{
	margin-top: 100px;
	width: 100%;
	text-align: center;
	color: black;
}
#postInput{
	margin-left: 35%;
}
.gambar .picture{
	display: block;
	margin:0 auto;
	margin-top: 10px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	/*position: absolute;*/
}
.gambar_kecil .gambarStatus{
	width: 80px;
	height: 80px;
	border-radius:50%;
	margin-left: 100px;
}
.feed{
	/*font-size: 20px;*/
	font-size:5px;
	color: black;
	margin-left: 180px;
	margin-bottom: 50px;
}
.navbar-static-top{
	background-color: white;
}
.profile .coverDiv {
	width: 60%;
	margin: auto;
	margin-top:30px;

}
.profile .cover{
	height: 300px;
/*	position: absolute;*/
}
.semua_feed{
	border: 1px solid black;
}
/*.tulisan{
	font-size:40px;
}*/
/*
.profile .cover{
	margin:-75px 0 0 100px;
}*/